<h2>Add/Edit Journal</h2> 

<form>
	<label for="title"> Journal Title: </label>
    <input type="text" id="title" name="title" [(ngModel)]="model.journalName" > <br>
    <label> Impact Factor:
          <input type="text" id="IF" name="IF" [(ngModel)]="model.IF" > <br>
        </label>
        <label> IF Link 
          <input type="text" id="IFLink" name="IFLink" [(ngModel)]="model.IFLink" > <br>     
        </label>

<div *ngFor="let items of model.GSRank; let i = index;">
<label> GS Category:
    <input type="text" name="RankCat" [(ngModel)]="model.GSRank[i].cat" required>
  </label>
  <label> Ranking:
    <input type="text" name="RankNum" [(ngModel)]="model.GSRank[i].rank">
  </label>
  <label> Link to Category Page:
    <input type="text" name="RankLink" [(ngModel)]="model.GSRank[i].catLink.link" >
  </label>
  <br>
  <button (click)="remove(i)">Remove</button><button (click)="addGSRank()" >Add GS Rank</button>

</div>

  <br>
  <label> No Ranking?
    <input type="checkbox" class="noRankCheck" id="noRankCheck" [checked]="info" (change)="info = !info">
  </label>    <br><br> 
  
  <button type="submit" (click)="onSubmit()" >
          Save Journal
        </button> <span *ngIf="showResponse"> {{response}} </span>

</form>
