<h2 class="title main-title">Add/Edit Journal</h2> 

<form>
	<label for="title"> Journal Title: </label>
    <input type="text" id="title" name="title" [(ngModel)]="model.journalName" > <br>
    <label> Impact Factor:
          <input type="text" id="IF" name="IF" [(ngModel)]="model.IF" > <br>
        </label>
        <label> IF Link 
          <input type="text" id="IFLink" name="IFLink" [(ngModel)]="model.IFLink" > <br>     
        </label>

<div *ngFor="let items of model.GSRank; let i = index">


<label for="RankCat"> GS Category: </label>
    <input type="text" name="RankCat{{i}}"  [(ngModel)]="items.cat"  required>
  
  <label for="RankNum"> Ranking:</label>
    <input type="text" name="RankNum{{i}}"  [(ngModel)]="items.rank"  >
  
  <label for="RankLink"> Link to Category Page:  </label>
    <input type="text" name="RankLink{{i}}" [(ngModel)]="items.catLink.link" >
  
 
  <button (click)="remove(i)" class="warn">Remove</button>
</div>
 <br>
<button (click)="addGSRank()" >Add GS Rank</button>

  <br>
  <label> No Ranking?
    <input type="checkbox" class="noRankCheck" id="noRankCheck" [checked]="info" (change)="info = !info">
  </label>    <br><br> 
  
  <button type="submit" (click)="onSubmit()" >
          Save Journal
        </button> <label>Overwrite Existing Data? <input type="checkbox" class="noRankCheck" id="overwrite" [checked]="overwrite" checked (change)="overwrite = !overwrite"> </label>

        <p *ngIf="showResponse"> {{response}} </p>

</form>
