<p class="legacy">This version of the app is being hosted for display purposes only. It is not linked to any database and cannot be used to gather data. Please press the "Mundane" button in the "Scan Profile" section to tour the old menus.</p>

<h2 class="main-title title">Scan Profile</h2>

<form id="form2" class="single-line-input-button">

	<label for="profileInput" >GS Profile:</label>
	<input type="text" name="profile" #profileInput required> 
	
	<button (click)="scan(profileInput.value, proxyList[proxy.selectedIndex])" id="magicButton">Magic</button>
	<div>
	<label for="proxy"> Proxy: </label>
	<select #proxy>
		<option *ngFor="let proxy of proxyList" >{{proxy}}</option>
	</select>
	</div>
</form>
<p class="small-text">{{errormsg}}</p>
<hr>
<label for=""> Start from Scratch? </label>
<button (click)="scratch()" >Mundane</button>

<div class="panelHolder"  *ngIf="toggle">
	<app-first-panel [data]="data" (closing)="toggleShow($event)"></app-first-panel>

</div>
