<app-navi [(state)]="displayState" (stateChange)="checkDisplayState()" ></app-navi>
<hr>
<h2 class="title">&emsp;{{panelTitle}}</h2>
<div class="divider"></div>
<div [ngSwitch]="displayState">
	<div class="first" *ngSwitchCase="0">
		<p class="center-text simple-underline"> {{paperList.length}} papers found: </p>
		<div class="papers">
			<p>Sort by Year:</p><button (click)="sort()" >Sort</button>
			<app-paper *ngFor = "let item of paperList; let i = index" [(paper)]="paperList[i]" [index]="i">
  	
			</app-paper>
			<p class="exp-text"> This is EVERYTHING listed on the profile, which may include abstracts, theses, etc. Compare this list with the client's CV and remove items as appropriate. (We only want rankings for journals where the client has published full-length articles). Use the form below to add published/accepted papers that do not appear here. Click "next" when complete:</p>
		</div>
		<h4>Add Paper: </h4>
		<app-add-paper [(paperList)]="paperList" [mode]="true"></app-add-paper>
	</div>
	<div class="papers" *ngSwitchCase="1">
		<p class="center-text simple-underline"> including {{included.length}} papers: </p>
		<hr>

		<h5>Search for these:</h5>
		<ul class="journalList-holder">
			<li *ngFor = "let item of journalList; let i = index" >
				<span>{{item}}</span>
				<div>
				<button (click)="edit(i)" *ngIf="!editShow[i]" class="ut-btn">edit</button>
				<button (click)="remove(i)" class="ut-btn" > remove </button>
				</div>
					<form *ngIf="editShow[i]">

					<label for="edited"> Edit: </label>
						<input ref-j type="text" name="edited" id="edited" [value]=journalList[i]>
				<button type="button" (click)="submitEdit(i, j.value)"> Submit </button>						
					</form>
					
			</li>

		</ul>

		<h5>Don't search for these:</h5>
		<ul class="journalList-holder">
			<li *ngFor = "let item of removed; let i = index">
				{{item}}
				<button (click)="returnItem(i)"> Return </button>
			</li>

		</ul>

	</div>
		
	<div *ngSwitchCase="2" class="papers">
		<p *ngIf = "!toggleRankPanel"> awaiting response from server... <br>(if you arrived here directly from the top-cited list, you will need to go to the <u (click)="jumpBack()"> beginning </u> and specify which journals will be queried before rankings will be displayed) </p>
		<div *ngIf="toggleRankPanel" class="rankings">
			<app-rank [rankings]="rankings"></app-rank>
		</div>
	</div>

	<div *ngSwitchCase="3">
		<h5>Top-Cited Articles:</h5>
		
		<label for="fieldSelect"> Field:
		<select id="fieldSelect" name="fieldSelect" #fsel>
			<option *ngFor = "let fields of fieldList" selected> {{fields}} </option> 
		</select>  
		</label>

		<label> Name: <input type="text" name="name" #Cname placeholder="Client's Name"> </label>
		<button (click)="check(Cname.value)"> Check </button>


		<p></p>
		<app-top-cited [field]="fieldList[fsel.selectedIndex]" [pbf]="pbf" [paperList]="paperList" [name]="name"></app-top-cited>

	</div>
	<div *ngSwitchCase="4" >
		<app-exhibit-index-builder [paperList]="paperList"></app-exhibit-index-builder>
	</div>


</div>



<hr>
<button (click)="previous()" [disabled]="displayState<1">Previous</button>
<button (click)="next()" [disabled]="displayState>3 || paperList.length===0"> Next </button>
<button (click)="close()">Finish</button>