.toolHolder{
	display: flex;
	flex-wrap: wrap;

}

.toolHolder *{
	flex-grow: 1;
	min-width: 45%;
	margin: 1%;
	padding: 1%;
	border: double rgb(20,4,5) 4px;
}

.top{
	position: absolute;
	top: 3px;
	right: 3px;
}

.closeBtn{
	height: 30px;
	padding: 1%;
}

.bottom{
	display: block;
	margin: auto;
}