<ul class="journalList-holder">
	<li *ngFor = "let item of journals; let i = index" >
		<em>{{item}}</em> 
		<div>
		<button (click)="edit(i)" *ngIf="!editShow[i]" [disabled]="disabledArr[i]"> Edit </button>
		<button (click)="markAsNoRank(i)" [disabled]="disabledArr[i]" > Mark as Unranked </button>
		</div>
				
		<form *ngIf="editShow[i]">
			<label for="edited"> Edit: </label>
				<input ref-j type="text" name="edited" id="edited" [value]=journals[i]>
			<button type="button" (click)="submitEdit(i, j.value)"> Submit </button>
		</form>
		<div class="results-div" *ngIf = "results.hasOwnProperty(i)">
			<app-display-ranking [results]="results[i]" [journal]="searchedFor"></app-display-ranking>
				
			<p *ngIf = "results[i].rankedJournals.length">Is this correct? Add to List? 
			<button
			 (click)="addRank(results[i].rankedJournals[0], i)"
			 > Add </button>
		
			</p> 
					
		</div>

	</li>

</ul>

