<p>A work in progress... </p>

<p>None of this works yet, btw</p>

<button  (click)="log()" > log </button>

<label> Client's Name: {{name.value}}
<input #name type="text" name="cName" placeholder="Client" [(ngModel)]="client.name" >		
</label>

<hr>

<p>INDEX OF EXHIBITS</p>
<div class="simple-border">
	
<p>{{name.value}}'s CV</p>
<p>{{name.value}}'s diploma and transcripts</p>
<p>Evidence regarding {{name.value}}'s current employment</p>

<app-paper-exhibit *ngFor="let paper of paperList; let i = index" ></app-paper-exhibit>


</div>

