.main-form{
	width: 94%;
	border: double rgb(10, 10, 30) 4px;
	padding: 2%;
	border-radius: 10px;
	margin: 1%;
	display: block;

}

.formHolder{
	display: block;
	max-width: 94vw;
	margin: auto;
	
}






