.main-form{
	min-width: 300px;
	border: double rgb(10, 10, 30) 4px;
	flex-grow: 1;
	padding: 2%;
	border-radius: 10px;
	margin: 1%;

}

.formHolder{
	display: flex;
	flex-wrap: wrap;
	max-width: 94vw;
	margin: auto;
	
}






