
<h5>
	The following journals have been marked as not having any rankings up to our standards. If you feel any of these are in error, you can edit them. When I make a button for it.

</h5>
	<ul *ngIf="unRanked.length">
		<li  *ngFor = "let item of unRanked; let i=index">
			{{item[0].journalName}}
			<span class="am-ende">Be this in err? <button (click)="openEdit(i)">For sooth</button></span>
		</li>

	</ul>
<div *ngIf="displayEdit">
<app-add-if  [model]="editJournal" ></app-add-if> <button (click)="displayEditToggle()" >Close</button>
</div>


<h5> No Match for these. Try searching with different names. Otherwise, clink the button to confirm that this journal is not ranked high enough and we will disregard it in future searches. </h5>


	<app-edit-journal [journals]="rankings.noMatch"  (addedRanks)="addRank($event)">
	</app-edit-journal>




<h5>
	Once you've finished above, click "Show Ranks." (if you click this early, the links for the pdfs won't be complete. You can just toggle the reveal by clicking it twice, though.)
</h5>
<button (click)="showRanks()"> Show Ranks </button>

<div *ngIf="showRankToggle">
	<p>
 	we found ranks for the following journals:
</p>

	<div class="holder">
		<p *ngFor="let item of rankings.rankedJournals let i = index" > <app-display-ranking  [results]="rankings.rankedJournals[i]" [journal]="item.journalName" > </app-display-ranking> 
		</p>
<hr>
<button (click)="readyDL()" >  --Download PDFs-- </button> <p>(This works only for GS ranks. You will need to gather PDFs for Impact Factors manually)</p>

		<p *ngFor="let item of rankings.rankedJournals let i = index" >
		<span *ngIf="!rankings.rankedJournals[i].IFLink"> Submit IF for: {{rankings.rankedJournals[i].journalName}} 
		<app-add-iflink [journal]="rankings.rankedJournals[i]"></app-add-iflink> </span> 

		</p>

	</div>

<p>If the DL button above did not work, you may use these links to gather the PDFs manually.</p>

<app-display-links *ngFor="let item of gsRankCats; let i=index" [display]="{
	link: gsRankLinks[i],
	cat: gsRankCats[i],
	numbers: gsRankNumbers[i]}"> </app-display-links>


	<p>Known Impact Factor Links:</p>
		<p *ngFor = "let item of rankings.rankedJournals; let i = index">
			<a *ngIf="rankings.rankedJournals[i].IFLink" href="{{rankings.rankedJournals[i].IFLink}}" target="_blank">-- {{rankings.rankedJournals[i].journalName}} --</a>
		</p>
		
	
	



</div>
