<h2> Search Rankings </h2>
<form>
	<label for="searchInput">Journal Name</label>
	<input type="text" name="searchInput" id="searchInput" #input>
	<button type="submit" id="searchButton" (click)="search([input.value])" >Search</button>

</form>

<div *ngIf="searchHappened">
<app-display-ranking [results]="results" [journal]="journal"> </app-display-ranking>
<hr>
<app-display-links *ngFor="let item of displays.links; let i=index" [display]="{
	link: displays.links[i],
	cat: displays.cats[i],
	numbers: displays.numbers[i]
	}"
	> </app-display-links>
	

</div>
<div *ngIf="searchHappened" >
	<button (click)="edit()" [disabled]="!results.rankedJournals.length" >Edit</button>
	<button (click)="delete(results.rankedJournals[0])" [disabled]="!results.rankedJournals.length" > Delete </button>
</div>

<app-add-if *ngIf="displayEdit" [model]="results.rankedJournals[0]" ></app-add-if>