<div class="holder">
	<div class="vertical">
		<span [ngClass]= "{'struck': paper.exclude}">
  		&ldquo;<span [innerHTML]="paper.title" ></span>,&rdquo; <em>{{paper.journal}}</em>, {{paper.year}}. <strong> {{paper.citations}} citations </strong>
		</span>
		<div class="borderTop">
			<label> First Authored?
				<input type="radio" name="{{paper.title}}" value="first" (change)="authorship(true)" [checked]="isFirstAuthored()">
			</label>
			<label> Co-authored?
				<input type="radio" name="{{paper.title}}" value="co" [checked]="!isFirstAuthored()" (change)="authorship(false)" >
			</label>
		</div>
	</div>
	
	<div class="buttons">
		<button class="btn-remove" (click)="remove()"> {{excludeMsg}} </button>
		<button class="btn-edit" (click)="edit(!editing)" > edit </button>
		<button (click)="titleCase()">CAPS</button>
	</div>
	<button (click)="showCitations()" [disabled]="true" class="intCitBtn">Find Citing Papers</button>
	
</div>

<app-int-citations [paper]="paper" *ngIf="toggleCitPanel" ></app-int-citations>
<app-add-paper (edited)="edit($event)" *ngIf="editing" [mode]="false" [paper]="paper"></app-add-paper>


