.struck{
	text-decoration: line-through;
}

span, strong, em{
	font-size: 10pt;
	font-family: Times
}

.holder{
	display: flex;
	border-bottom: dotted silver 2px;
	align-content: center;
	justify-content: space-between;
	vertical-align: center;
	padding-top: 1%;
	
}
.holder:hover{
	background-color: rgb(240,240,250);
}

.buttons{
	
	display: flex;
	flex-direction: column;
}




