<div class="holder">
	<span [ngClass]= "{'struck': paper.exclude}">
  	&ldquo;<span [innerHTML]="paper.title" ></span>,&rdquo; <em>{{paper.journal}}</em>, {{paper.year}}. <strong> {{paper.citations}} citations </strong>
	</span>
	<div class="buttons">
		<button class="btn-remove" (click)="remove()"> {{excludeMsg}} </button>
		<button class="btn-edit" (click)="edit(!editing)" > edit </button>
		<button (click)="titleCase()">CAPS</button>
	</div>
</div>

<app-add-paper (edited)="edit($event)" *ngIf="editing" [mode]="false" [paper]="paper"></app-add-paper>


